.footerContainer {
  margin-top: 0rem;
  padding: 1rem 0;
  border-top: 1px solid #1f2937;
  text-align: center;
  background-color: inherit;
}

.copyrightText {
  color: #6b7280;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.brandName {
  color: #ef4444;
  font-weight: bold;
}